<div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  



  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item" class="ml-5">
        <a style="color: #116094;" class="font"><i class="fa fa-phone"></i>+910123456789</a>
        <a  style="color: #116094;" class=" font ml-3"><i class="fa fa-envelope-o"></i>test@domain.com</a>
      </li>
      <li class="nav-item" class=" text-right ml-5">
        <img class="p-1 img-fluid" src="/assets/pics/social-FB.png" height="40px" width="40px" alt="">
        <img class="p-1 img-fluid" src="/assets/pics/social-Insta.png"  height="40px" width="40px" alt="">
        <img class="p-1 img-fluid" src="/assets/pics/social-WhatsApp.png" height="40px" width="40px"  alt="">
        <img class="p-1 img-fluid" src="/assets/pics/social-YT.png"  height="40px" width="40px" alt="">
        <button type="button" class="btn btn-outline-success">Login</button>
        <button  class="ml-2 text-white btn" style="background: #ff9933;" >Sign Up</button>
      </li>
      </ul>
  </nav>


<!-- navbar -->


<nav class="navbar navbar-expand-md navbar-light bg-white font">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="/assets/pics/logo.png" alt=""></a>

  <!-- Toggler/collapsibe Button -->
  <button class="btn btn-danger" class="navbar-toggler" type="button" data-toggle="collapse"
   data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <li class="nav-item"  data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;"  href="#">Home</a>
      </li>
      <li class="nav-item" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;" href="#">Test Papers</a>
      </li>
      <li class="nav-item" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;" href="#">Content</a>
      </li>
      <li class="nav-item" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;"  href="#">Current Affairs</a>
      </li>
      <li class="nav-item" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;" href="#">Banking Jobs</a>
      </li>
      <li class="nav-item" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;" href="#">Government Job Alert</a>
      </li>
      <li class="nav-item" data-target="#collapsibleNavbar" data-toggle="collapse">
        <a class="nav-link" style="color:#116094;" href="#">Discussion</a>
      </li>
      <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success mt-1" type="submit">Search</button>
  </form>
    </ul>
  </div>
</nav>




 <!-- BANNERS -->


 <div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img  src="/assets/pics/Banner.jpg" alt="banner">
    </div>
    <!-- <div class="carousel-item">
      <img src="/assets/pics/GooglePlay_icon.png" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="/src/assets/pics/hand_globe.png" alt="New York">
    </div> -->
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<nav class="navbar navbar-expand-sm " style="background: #296892;">
  <ul class="navbar-nav">
    <li class="nav-item" class="ml-5">
      <h6 class="text-white ">Join The Community for Free</h6>
    </li>
    <li class="nav-item">
      <button class="btn text-white ml-5" style="background: #ff9933;"> Get Started For Free  </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-warning ml-5  text-white"> App Free Download </button>
    </li>
  </ul>
  

</nav>

<div class="row mt-5 ">
  <h3 style="color:#116094;" class=" col-5 text-right">What</h3>
<h3 style="color:#138808;" class="">You Get Inside</h3>
</div>
<div class="text-center  row">
  <a class="col-11" href="">
    <img src="/assets/pics/heading-symbol.png" alt="">
  </a>
</div>


   <div class="row ml-5">
       <div class="col-6 d-flex">
        <img class="rounded-circle bgcolor" src="/assets/pics/01-understanding.png"  height="50px"
        width="40px" alt="">
        <div class="ml-3" >
          <h6 >Understanding</h6>
        <p >This steps is listening to the customer's <br>
          issues/problem especilly for a seminar.</p>
        </div>
      </div>
      <div class="col-4  d-flex">
        <img  class="rounded-circle bgcolor" src="/assets/pics/03-Presenting.png"  height="50px"
              width="50px" alt="">
              <div class="ml-3">
                <h6>Presenting</h6>
                <p>Step two is asking enough questions to reach the 
                  root cause of the problem and to learn more..
                </p>
              </div>
              
      </div>
</div>

<div class="row ml-5">
     <div class="col-4 d-flex">
           <img class="rounded-circle bgcolor" src="/assets/pics/02-Questiioning.png"  height="50px"
               width="40px" alt="">
               <div  class="ml-3">
                 <h6  >Questioning</h6>
                  <p>Step two is asking enough questions to reach the 
                      root cause of the problem and to learn more..
                  </p>
                </div>
     </div>

          <div class="col-2 img-fluid">
                 <img src="/assets/pics/hand_globe.png" width="170px" height="250px" >  
            </div>

     <div class="col-4 d-flex">
           <img  class="rounded-circle bgcolor" src="/assets/pics/04-Monitoring.png"  height="50px"
               width="40px" alt="">
               <div class="ml-3">
                <h6>Monitoring</h6>
                <p>The last step is to give us or the customer a 
                     one-year surveillance plan to sustain the develop-ment.
                  </p>
               </div>
               
     </div>

</div>

        <!-- plans nd packages heading -->

  <div class="row mt-5 ">
    <h3 style="color:#116094;" class=" col-5 text-right">Plans</h3>
    <h3 style="color: black;" class="mr-2">&</h3>
  <h3 style="color:#138808;" class="">Packages</h3>
  </div>
  <div class="text-center  row">
    <a class="col-10" href="">
      <img src="/assets/pics/heading-symbol.png" alt="">
    </a>
  </div>
  



  <!-- TABS -->

  <div class="container">
    <br> <br>
<ul class="nav-tabs nav ">
     <li class="nav-item">
       <a href="#home" class="nav-link active" data-toggle="tab">All</a>
      </li>
      <li class="nav-item">
        <a href="#fuck" class="nav-link"  data-toggle="tab">Ap Tet-SGT</a>
       </li>
       <li class="nav-item">
        <a href="" class="nav-link"  data-toggle="tab"> Ap Tet-SA</a>
       </li>
       <li class="nav-item">
        <a href="" class="nav-link"  data-toggle="tab"> AP DSC</a>
       </li>
       <li class="nav-item">
        <a href="" class="nav-link"  data-toggle="tab"> AP Constable</a>
       </li>
       <li class="nav-item">
        <a href="" class="nav-link"  data-toggle="tab"> AP Sub-Inspector of Police</a>
       </li>
     
  </ul>
   <!-- linking tabs for the data -->
  <div class="tab-content mt-3">

    <div class="tab-pane active row" id="home">
      <!-- <h6>this is ALL</h6> -->
      <div class="card-deck  ">
           <!-- card-1 -->
          <div class="card">
              <div class="card-block  bg-white"> 
                <img class="img-fluid" src="/assets/pics/course-img.jpg"   alt="" style="width: 100%;">  
                <nav class="navbar navbar-expand-sm justify-content-center bg-info ">
                  <h6 class="text-white ">AP TET & DSC (SGT)</h6>
                </nav>
                <p class="font"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
              </div>  <hr>
              <div class="card-text font">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni libero praesentium eos reprehenderit temporibus sit animi 
                  voluptates aspernatur ab eius, ad alias neque delectus quam omnis quaerat rem illum.
                   <br>
                  <img class="mx-auto d-block mt-3" src="/assets/pics/expand_arrow.png" alt="">
                
              </div>
                 <br>  <hr>
              <div class="card-block  ml-1 row">
                   <button type="button" class="btn btn-outline-success">61.59%</button>
                   <h6 class="ml-2">Rs.699.00</h6>  
                    <h6 class="ml-2" style="text-decoration: line-through;">Rs.699.00</h6>
                   <button  class="ml-3 text-white btn" style="background: #ff9933;" >Buy Now</button>

              </div>
           </div>

           <!-- card-2 -->

           <div class="card">
            <div class="card-block bg-white"> 
              <img class="img-fluid" src="/assets/pics/course-img.jpg"   alt="" style="width: 100%;">  
              <nav class="navbar navbar-expand-sm justify-content-center bg-info">
                <h6 class="text-white ">AP TET & DSC (SGT)</h6>
              </nav>
              <p class="font">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>  <hr>
            <div class="card-text font">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni libero praesentium eos reprehenderit temporibus sit animi 
                voluptates aspernatur ab eius, ad alias neque delectus quam omnis quaerat rem illum.
                <br>
                  <img class="mx-auto d-block mt-3" src="/assets/pics/expand_arrow.png" alt="">
            </div>
               <br>  <hr>
            <div class="card-block  ml-1 row">
              <button type="button" class="btn btn-outline-success">61.59%</button>
              <h6 class="ml-2">Rs.699.00</h6>  
                  <h6 class="ml-2" style="text-decoration: line-through;">Rs.699.00</h6>
                  <button  class="ml-3 text-white btn" style="background: #ff9933;" >Buy Now</button>
                </div>
         </div>
         <!-- card-3 -->


         <div class="card">
          <div class="card-block bg-white"> 
            <img class="img-fluid" src="/assets/pics/course-img.jpg"   alt="" style="width: 100%;">  
            <nav class="navbar navbar-expand-sm justify-content-center bg-info">
              <h6 class="text-white ">AP TET & DSC (SGT)</h6>
            </nav>
            <p class="font">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>  <hr>
          <div class="card-text font">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni libero praesentium eos reprehenderit temporibus sit animi 
              voluptates aspernatur ab eius, ad alias neque delectus quam omnis quaerat rem illum.
              <br>
                  <img class="mx-auto d-block mt-3" src="/assets/pics/expand_arrow.png" alt="">
          </div>
             <br>  <hr>
          <div class="card-block  ml-1 mb-2 row ">
            <button type="button" class="btn btn-outline-success">61.59%</button>
            <h6 class="ml-2">Rs.699.00</h6>  
                <h6 class="ml-2" style="text-decoration: line-through;">Rs.699.00</h6>
                <button  class="ml-3 text-white btn" style="background: #ff9933;" >Buy Now</button>
              </div>
       </div>
     </div>
   </div>

      <!-- ROW - 2 -->
   <div class="tab-pane active row mt-5" id="home">
    <!-- <h6>this is ALL</h6> -->
    <div class="card-deck  ">
         <!-- card-1 -->
        <div class="card">
            <div class="card-block bg-white"> 
              <img class="img-fluid" src="/assets/pics/course-img.jpg"   alt="" style="width: 100%;">  
              <nav class="navbar navbar-expand-sm justify-content-center bg-info">
                <h6 class="text-white ">AP TET & DSC (SGT)</h6>
              </nav>
              <p class="font"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>  <hr>
            <div class="card-text font">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni libero praesentium eos reprehenderit temporibus sit animi 
                voluptates aspernatur ab eius, ad alias neque delectus quam omnis quaerat rem illum.
                <br>
                  <img class="mx-auto d-block mt-3" src="/assets/pics/expand_arrow.png" alt="">
            </div>
               <br>  <hr>
            <div class="card-block  mb-2 ml-1 row">
              <button type="button" class="btn btn-outline-success">61.59%</button>
              <h6 class="ml-2">Rs.699.00</h6>  
                  <h6 class="ml-2" style="text-decoration: line-through;">Rs.699.00</h6>
                  <button  class="ml-3 text-white btn" style="background: #ff9933;" >Buy Now</button>
                </div>
         </div>

         <!-- card-2 -->

         <div class="card">
          <div class="card-block bg-white"> 
            <img class="img-fluid" src="/assets/pics/course-img.jpg"   alt="" style="width: 100%;">  
            <nav class="navbar navbar-expand-sm justify-content-center bg-info">
              <h6 class="text-white ">AP TET & DSC (SGT)</h6>
            </nav>
            <p class="font">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>  <hr>
          <div class="card-text font">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni libero praesentium eos reprehenderit temporibus sit animi 
              voluptates aspernatur ab eius, ad alias neque delectus quam omnis quaerat rem illum.
              <br>
                  <img class="mx-auto d-block mt-3" src="/assets/pics/expand_arrow.png" alt="">
          </div>
             <br>  <hr>
          <div class="card-block  ml-1 row">
            <button type="button" class="btn btn-outline-success">61.59%</button>
            <h6 class="ml-2">Rs.699.00</h6>  
                <h6 class="ml-2" style="text-decoration: line-through;">Rs.699.00</h6>
                <button  class="ml-3 text-white btn" style="background: #ff9933;" >Buy Now</button>
              </div>
       </div>
       <!-- card-3 -->


       <div class="card">
        <div class="card-block bg-white"> 
          <img class="img-fluid" src="/assets/pics/course-img.jpg"   alt="" style="width: 100%;">  
          <nav class="navbar navbar-expand-sm justify-content-center bg-info">
            <h6 class="text-white ">AP TET & DSC (SGT)</h6>
          </nav>
          <p class="font">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>  <hr>
        <div class="card-text font">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat magni libero praesentium eos reprehenderit temporibus sit animi 
            voluptates aspernatur ab eius, ad alias neque delectus quam omnis quaerat rem illum.
            <br>
                  <img class="mx-auto d-block mt-3" src="/assets/pics/expand_arrow.png" alt="">
        </div>
           <br>  <hr>
        <div class="card-block  ml-1 row">
          <button type="button" class="btn btn-outline-success">61.59%</button>
          <h6 class="ml-2">Rs.699.00</h6>  
              <h6 class="ml-2" style="text-decoration: line-through;">Rs.699.00</h6>
              <button  class="ml-3 text-white btn" style="background: #ff9933;" >Buy Now</button>
            </div>
     </div>
   </div>
 </div>
</div>
</div>

<!-- tabs ended here -->


<br>  <br>
<!-- navbar -->

<nav class="navbar navbar-expand-sm "  style="background: #296892;">
  <ul class="navbar-nav">
    <li class="nav-item" class="ml-5">
      <a class=" col-5 text-right img-fluid" href=""><img src="/assets/pics/DownloadApp-img.jpg" alt=""></a>
    </li>
    <li class="nav-item" class="text-white text-center">
      <h3 class="mt-5">KVR Studies for their exam prep.</h3>
      <p class=" text-center">Access Any Time Any Where!</p>
         <div class="text-center">
            <img class="rounded-circle bg-info" src="/assets/pics/practiseTest_icon.png" alt="">
           </div>
           <h6 class=" text-center mt-4">Pratice Tests</h6>
           <p>Questions related to exam patterns dedicated questions for each concept</p>
           <div class="text-center">
             <img src="/assets/pics/GooglePlay_icon.png" alt="">
           </div>
    </li>
  </ul>
</nav>


                        
<div class="row mt-5">
  <h1 style="color:#296892;" class=" col-6 text-right">Candidate</h1>
<h1 style="color: green;font-style:initial;" class="">Says</h1>
</div>
<div class="text-center row">
  <a class="col-11" href="">
    <img src="/assets/pics/heading-symbol.png" alt="">
  </a>
</div>


    
<!-- courasal for cards -->
  <div class=" mt-5 body" >
        
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row container ml-4">
                        <div class="col-md-3 ">
                            <div class="card shadow "> 
                              <div class="img-text hvr">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                   Id libero, recusandae quia expedita nostrum eos? 
                                </p>
                                  <div class="text-left ">
                                    <h6 class="color">Name comes here</h6>
                                   <div class="row container">
                                     <h6 class="col-10">Designation</h6> 
                                 <a class="col-2" style="color: #ff9933;"><i class="fa fa-quote-right"></i></a>
                                 </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow"> 
                            <div class="img-text hvr">
                              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                 Id libero, recusandae quia expedita nostrum eos?
                              </p>
                              <div class="text-left ">
                                <h6 class="color">Name comes here</h6>
                               <div class="row container">
                                 <h6 class="col-10">Designation</h6> 
                             <a class="col-2" style="color: #ff9933;"><i class="fa fa-quote-right"></i></a>
                             </div>
                            </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-3">
                        <div class="card shadow"> 
                          <div class="img-text hvr">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                               Id libero, recusandae quia expedita nostrum eos?
                            </p>
                            <div class="text-left ">
                              <h6 class="color">Name comes here</h6>
                             <div class="row container">
                               <h6 class="col-10">Designation</h6> 
                           <a class="col-2" style="color: #ff9933;"><i class="fa fa-quote-right"></i></a>
                           </div>
                          </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow"> 
                        <div class="img-text hvr">
                          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                             Id libero, recusandae quia expedita nostrum eos?
                          </p>
                          <div class="text-left ">
                            <h6 class="color">Name comes here</h6>
                           <div class="row container">
                             <h6 class="col-10">Designation</h6> 
                         <a class="col-2" style="color: #ff9933;"><i class="fa fa-quote-right"></i></a>
                         </div>
                        </div>
                          </div>
                      </div>
                  </div>

                    
                  
                    </div>
                </div>
              </div>
        </div>

      </div>

    </div>
    


  </div>


















                                <!-- fFOOTER      -->




<footer class="page-footer bg-dark mt-5">
<div class="container  text-md-left">
  <div class="row text-white">
    <div class="col-md-3 ">
       <h6 class="mt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
       'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">About Us</h6>
       <hr class="ml-1" style="background: #ff9933; height: 1px; width: 50px;">
       <p class="font" 
       >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Repellat nesciunt voluptas perspiciatis nulla quam. Tempore molestias quis voluptas
          at recusandae pariatur impedit eaque sed, possimus sapiente vel nesciunt esse voluptates.
        </p>
        <h6 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
         'Lucida Sans', Arial, sans-serif;">Our App</h6> 
        <hr>
        
        <div class="row">
          <img src="/assets/pics/footer_logo.png" alt="">
            <h6 class="ml-2" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
             'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">KVR Studies App</h6>
            <div> <h6 class="ml-5 font" style="color: #ff9933;" >Download now</h6> </div>
          </div>
    </div> 

    <div class="col-md-3 pp ">
      <h6 class="mt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
       'Lucida Sans', Arial, sans-serif ;">Popular Packages</h6>
      <hr class="ml-1" style="background: #ff9933; height: 1px; width: 50px;">
      <h6 class="font" >Advanced Programming  <p>Rs.1400</p>
      </h6><hr>
      <h6 class="font" >Advanced Programming  <p style="color: #ff9933;">Free</p>
      </h6><hr>
      <h6 class="font" >Advanced Programming  <p style="color: #ff9933;">Free</p>
      </h6><hr>
      <h6 class="font" >Advanced Programming  <p style="color: #ff9933;">Free</p>
      </h6><hr>
    </div>


    <div class="col-md-3 ql ">
      <h6 class="mt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;">Quick Links</h6>
      <hr class="ml-1" style="background: #ff9933; height: 1px; width: 50px;">
      <i class="fa fa-angle-right" style="color:#ff9933;"></i> <a class="ml-2 font">All Courses</a> <hr>
      <i class="fa fa-angle-right" style="color:#ff9933;"></i> <a class="ml-2 font">About Us </a> <hr>
      <i class="fa fa-angle-right" style="color:#ff9933;"></i> <a class="ml-2 font">Contact Us</a> <hr>
      <i class="fa fa-angle-right" style="color:#ff9933;"></i> <a class="ml-2 font">User Policy</a> <hr>
      <i class="fa fa-angle-right" style="color:#ff9933;"></i> <a class="ml-2 font">Terms</a> <hr>
      <i class="fa fa-angle-right" style="color:#ff9933;"></i> <a class="ml-2 font">Policy</a>
</div>

<div class="col-md-3 cu">
      <h6 class="mt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande''Lucida Sans', Arial, sans-serif ;">Contact Us</h6>
      <hr class="ml-1" style="background: #ff9933; height: 1px; width: 50px;">
      <i class="fa fa-location-arrow" style="color:#ff9933;" ></i>
      <a class="ml-2 font">KVR Studies, Main Road, Temple Street, Andhra Pradesh.</a> <hr>
      <i class="fa fa-phone" style="color:#ff9933;"></i>
       <a class="ml-2 font">+91 0123456789</a> <hr>
      <i class="fa fa-envelope-o" style="color:#ff9933;"></i>
        <a class="ml-2 font"> text@domain.com </a> <hr>
        <img  src="/assets/pics/social-FB.png" alt="">
        <img class="ml-1" src="/assets/pics/social-Insta.png" alt="">
        <img class="ml-1" src="/assets/pics/social-WhatsApp.png" alt="">
        <img class="ml-1" src="/assets/pics/social-YT.png" alt="">
        <div class="text-right">
          <img src="/assets/pics/chat-icon.png"  height="50px" alt="">
        </div>
    </div>
  </div>
</div>

<hr >

<div class="footer-copyright text-center py-3 uk-overlay-active text-white"
 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
   Copyright © 2020 KVR Studies All Right Reserved
</div>

</footer>
















































































</div>